<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/main.css') }}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <h1>DASHBOARD</h1>

      <ul class="nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/">Dashboard</a></li>
        <li class="primary-button"><a href="#">User</a></li>
      </ul>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>
