<html lang="en"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DASHBOARD</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slider3.css') }}">
</head>
<body>
 
<!-- HEADER -->
	<header>
<!--		Name of the Webpage	 -->
	<div class="head">
			<h1><span style="color: wheat">DASHBOARD</h1>
	</div>
<!--	NAVIGATION   -->
	<nav>
		<ul>
			<li><a href="home.html">Home</a></li>
			<li><a href="dashboard.html">Dashboard</a></li>
			<li><a href="user.html" type="button" class="dress">User</a></li>

		</ul>
	</nav>
<!--  END OF NAVIGATION -->
  	</header>
<!-- END OF HEADER -->
<br>
<div class="pic">
	<ul>
		<li><a href="/webcam"><div class="p1"><br><br><br><br><br><br><br><br><br><br><br><br><br>Live Feed</div></a></li>
		<li><a href="gps_location.html"><div class="p2"><br><br><br><br><br><br><br><br><br><br><br><br><br>GPS  Location</div></a></li>
		<li><a href="earnings.html"><div class="p3"><br><br><br><br><br><br><br><br><br><br><br><br><br>Earnings</div></a></li>
		<li><a href="led_custom.html"><div class="p4"><br><br><br><br><br><br><br><br><br><br><br><br><br>LED Panel Custom</div></a></li>
	</ul>
</div>
<br>
<br>
<br>
<!--SHOWCASE-->
	<showcase>
		<div class="container">
			<h1><span style="color: orange">Vacant Seat Monitoring System</h1>
			<h3>Direct visualization  to commuters</h3>
			<a href="learn_more.html"><button>LEARN MORE</button></a>
		</div>
	</showcase>
	<!-- END OF SHOWCASE -->


<div class="callout">
  <div class="callout-header">Welcome!</div>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <div class="callout-container">
    <p>To learn  more about the website, click "Learn More"</p>
  </div>
</div>


<!-- END OF ASIDE --> 

 </body></html>